<!--[ arg staticPath, data, basePath, curentPage, totalPages ; ]-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>锤石科技</title>
		<link rel="stylesheet" type="text/css" href="${staticPath}/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="${staticPath}/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="${staticPath}/css/person.css"/>
		<script type="text/javascript" src="${staticPath}/js/jquery-2.1.0.js"></script>
		<script type="text/javascript" src="${staticPath}/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="manager-head">
			<div class="person-input-item">
				<span class="person-input-name">代理ID</span>
				<input type="text" value="" id="player_id"/>
			</div>
			<div class="manager-button">
				<span class="mahiong-but" id="check-admin" style="margin-right: 40px;">查询</span>
				<span class="mahiong-but admin-new-add" style="width: 120px;">充值房卡</span>
			</div>
		</div>
		
		<table border="1" class="manager-table">
			<thead>
				<tr>
					<th>代理商ID</th>
					<th>充值金额</th>
					<th>充值时间</th>
					<!-- <th>充值状态</th> -->
					<th>充值类型</th>
				</tr>
			</thead>
			<tbody class="person-table"></tbody>
		</table>
		<div>
			<div class="manager-page-check">
				<span class="manager-but manager-first-but" style="left: 0;">上一页</span>
				<span id="admin-page">1</span>
				<span class="manager-but manager-second-but" style="right: 0;">下一页</span>
			</div>
			<div class="manager-page-txt">当前&nbsp;<span id="admin-curent"></span>&nbsp;条，共&nbsp;<span id="admin-total"></span>&nbsp;条</div>
		</div>
		
		<div style="display: none;">
			<table>
				<tr class="person-obj">
					<td class="person-adminId"></td>
					<td class="person-money"></td>
					<td class="person-time"></td>
					<!-- <td class="person-state"></td> -->
					<td class="person-type"></td>
				</tr>
			</table>
		</div>
	</body>
	
	<script type="text/javascript">
		
		$(function(){
			personAjax( 1 );
			
			$(".admin-new-add").click(function(){
				location.href = '${basePath}/adminPay/goToAdminPay';
			})
		})
		
		$(".manager-second-but").click(function(){//点击下一页
			var total = Number( $("#admin-total").text() );
			var page = Number( $("#admin-page").text() );
			if( total > page ){
				personAjax( page + 1 );
			}
		})
		
		$(".manager-first-but").click(function(){//点击上一页
			var page = Number( $("#admin-page").text() );
			if( page > 1 ){
				personAjax( page - 1 );
			}
		})
		
		/*这里是查询指定代理商ID的充值记录*/
		$("#check-admin").click(function(){
			var player_id = $("#player_id").val();
			$.ajax({
				data : { 
					adminId : player_id
				},
				type:"GET",
				dataType : "JSON",
				url:"${basePath}/adminPay/getByAdminId",
				success : function(data){
					if( data == false ){
						$(".person-table").html("");
						$("#admin-curent").text( "1/1" );
						$("#admin-total").text( '1' );
						$("#admin-page").text( '1' );
					} else {
						$(".person-table").html("");
						$("#admin-curent").text( data.currentPage + "/" + data.totalPages );
						$("#admin-total").text( data.totalPages );
						$("#admin-page").text( data.currentPage );
						for( var i = 0; i < data.list.length; i++ ){
							var adminObj = $(".person-obj:eq(0)").clone(true);
							var adminArray = data.list[i];
							adminObj.find(".person-adminId").text( adminArray.adminId );
							adminObj.find(".person-money").text( adminArray.payMoney );
							adminObj.find(".person-time").text( adminArray.payTime );
						/* 	adminObj.find(".person-state").text( adminArray.state ); */
							adminObj.find(".person-type").text( adminArray.payType );
							$(".person-table").append( adminObj );
						}
					}
				},
				error : function(){
					alert("网络连接异常，请稍后再试");
				}
			});
		})
		
		function personAjax( page ){
			$.ajax({
				data : { curentPage : page },
				type:"GET",
				url:"${basePath}/adminPay/getAll",
				success : function(data){
					$(".person-table").html("");
					$("#admin-curent").text( data.curentPage + "/" + data.totalPages );
					$("#admin-total").text( data.totalPages );
					$("#admin-page").text( data.curentPage );
					for( var i = 0; i < data.message.length; i++ ){
						var adminObj = $(".person-obj:eq(0)").clone(true);
						var adminArray = JSON.parse( data.message[i] );
						adminObj.find(".person-adminId").text( adminArray.adminId );
						adminObj.find(".person-money").text( adminArray.payMoney );
						adminObj.find(".person-time").text( adminArray.payTime );
						/* adminObj.find(".person-state").text( adminArray.state ); */
						adminObj.find(".person-type").text( adminArray.payType );
						$(".person-table").append( adminObj );
					}
				},
				error : function(){
					alert("网络连接异常，请稍后再试");
				}
			});
		}
	</script>
</html>
