<!--[ arg staticPath,data, basePath,curentPage,totalPages ;  ]-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>锤石科技</title>
		<link rel="stylesheet" type="text/css" href="${staticPath}/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="${staticPath}/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="${staticPath}/css/person.css"/>
		<script type="text/javascript" src="${staticPath}/js/jquery-2.1.0.js"></script>
		<script type="text/javascript" src="${staticPath}/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="manager-head">
			<div class="person-input-item">
				<span class="person-input-name">内容：</span>
				<input type="text" value="" id="noticeContent"/>
			</div>
			<div class="person-input-item">
				<span class="person-input-name">类型：</span>
				<input type="text" class="person-type" value="" id="noticeType" readonly="readonly"/>
				<ul class="add-user-list">
					<li>系统公告</li>
					<li>游戏公告</li>
					<li>奖励公告</li>
					<li>惩罚公告</li>
				</ul>
			</div>
			<div class="manager-button">
				<span class="mahiong-but" id="check-admin" style="margin-right: 40px;">查询</span>
				<span class="mahiong-but admin-new-add" style="width: 120px;">新增公告</span>
			</div>
		</div>
		
		<table border="1" class="manager-table">
			<thead>
				<tr>
					<th style="width: 12%;">公告类型</th>
					<th style="width: 55%;">公告内容</th>
					<th style="width: 13%;">创建时间</th>
					<th style="width: 10%;">管理员ID</th>
					<th style="width: 10%;">操作</th>
				</tr>
			</thead>
			<tbody class="person-table"></tbody>
		</table>
		<div style="position: relative;">
			<div class="manager-page-check">
				<span class="manager-but manager-first-but" style="left: 0;">上一页</span>
				<span id="admin-page">1</span>
				<span class="manager-but manager-second-but" style="right: 0;">下一页</span>
			</div>
			<div class="manager-page-txt">当前&nbsp;<span id="admin-curent"></span>&nbsp;条，共&nbsp;<span id="admin-total"></span>&nbsp;条</div>
		</div>
		
		<div id="manager-detele" style="display: none;">
			<div class="fix-bg"></div>
			<div class="manger-detele-box white"  data-manager = "">
				<p>
					<img src="${staticPath}/image/detele.png"/>
					<span>确认要删除该公告吗？</span>
				</p>
				<div>
					<span class="mahiong-but manger-sure-detele" style="margin-right: 66px;">确定</span>
					<span class="mahiong-but manger-cancel-detele">取消</span>
				</div>
			</div>
		</div>
		
		<div style="display: none;">
			<table>
				<tr class="person-obj" data-id="">
					<td class="person-winxinid"></td>
					<td class="person-name"></td>
					<td class="person-sex"></td>
					<td class="person-room-num"></td>
					<td><a class="manager-revise">修改</a><span class="manager-delete">删除</span></td>
				</tr>
			</table>
		</div>
	</body>
	
	<script type="text/javascript">
		var width = $(window).width(), height = $(window).height(), deteleObj = null;
		$(function(){
			personAjax( 1 );
			
			$(".person-type").click(function(){
				$(this).parent().find(".add-user-list").toggle();	
			})
			
			$(".add-user-list>li").click(function(){
				$(this).parent().hide();
				$(this).parent().parent().find(".person-type").val( $(this).text() );
			})
			
			$(".admin-new-add").click(function(){
				location.href = '${basePath}/sysNotice/toAdd';
			})
			
			//修改公告
			$(".manager-revise").click(function(){
				var adminID = $(this).parent().parent().attr("data-id");
				location.href = '${basePath}/sysNotice/getEditNotice?id=' + adminID;
			})
		})
		
		$(".manager-delete").click(function(){//点击“删除”按钮，弹出对话框
			var id = $(this).parent().parent().attr("data-id");
			var boxHeight = $(".manger-detele-box").height();
			var boxWidth = $(".manger-detele-box").width();
			deteleObj = $(this).parent().parent();
			$("#manager-detele").show(300);
			$(".manger-detele-box").attr("data-manager",id);
			$(".manger-detele-box").css({"top" : (height - boxHeight)/2, "left" : (width - boxWidth)/2 });
		})
		
		$("#check-admin").click(function(){
				var noticeType = $("#noticeType").val();
				var noticeContent = $("#noticeContent").val();
				$.ajax({
					data : { 
						noticeContent : noticeContent,
						noticeType : noticeType
					},
					type:"GET",
					dataType : "JSON",
					url:"${basePath}/sysNotice/getById",
					success : function(data){
						if( data == false ){
							$(".person-table").html("");
							$("#admin-curent").text( "1/1" );
							$("#admin-total").text( '1' );
							$("#admin-page").text( '1' );
						} else {
							$(".person-table").html("");
							$("#admin-curent").text( data.currentPage + "/" + data.totalPages );
							$("#admin-total").text( data.totalPages );
							$("#admin-page").text( data.currentPage );
							for( var i = 0; i < data.list.length; i++ ){
								var adminObj = $(".person-obj:eq(0)").clone(true);
								var adminArray = data.list[i];
								adminObj.attr("data-id",adminArray.id);
								adminObj.find(".person-winxinid").text( adminArray.noticeType );
								adminObj.find(".person-name").text( adminArray.noticeContent );
								adminObj.find(".person-sex").text( adminArray.payTime )
								adminObj.find(".person-room-num").text( adminArray.adminId );
								$(".person-table").append( adminObj );
							}
						}
					},
					error : function(){
						alert("网络连接异常，请稍后再试");
					}
				});
			})
		
		$(".manger-sure-detele").click(function(){//确定删除公告
			var userId = $(".manger-detele-box").attr("data-manager");
			$.ajax({
				data : { id : userId },
				type:"GET",
				url:"${basePath}/sysNotice/delete",
				success : function(data){
					$("#manager-detele").hide();
					if( data.result == true ){
						deteleObj.hide(300);
					};
				},
				error : function(){
					alert("网络连接异常，请稍后再试");
				}
			});
		})
		
		$(".manger-cancel-detele").click(function(){
			$("#manager-detele").hide(300);
		})
		
		$(".manager-second-but").click(function(){//点击下一页
			var total = Number( $("#admin-total").text() );
			var page = Number( $("#admin-page").text() );
			if( total > page ){
				personAjax( page + 1 );
			}
		})
		
		$(".manager-first-but").click(function(){//点击上一页
			var page = Number( $("#admin-page").text() );
			if( page > 1 ){
				personAjax( page - 1 );
			}
		})
		
		function personAjax( page ){
			$.ajax({
				data : { curentPage : page },
				type:"GET",
				url:"${basePath}/sysNotice/getAll",
				success : function(data){
					$(".person-table").html("");
					$("#admin-curent").text( data.curentPage + "/" + data.totalPages );
					$("#admin-total").text( data.totalPages );
					$("#admin-page").text( data.curentPage );
					for( var i = 0; i < data.message.length; i++ ){
						var adminObj = $(".person-obj:eq(0)").clone(true);
						var adminArray = JSON.parse( data.message[i] );
						adminObj.attr("data-id",adminArray.id);
						adminObj.find(".person-winxinid").text( adminArray.noticeType );
						adminObj.find(".person-name").text( adminArray.noticeContent );
						adminObj.find(".person-sex").text( adminArray.payTime )
						adminObj.find(".person-room-num").text( adminArray.adminId );
						$(".person-table").append( adminObj );
					}
				},
				error : function(){
					alert("网络连接异常，请稍后再试");
				}
			});
		}
	</script>
</html>
